.registration__form,
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 10px;
}

.registration__title,
.login__title {
  margin-left: 10px;
}

.registration__help {
  margin-top: 5px;
  margin-left: 10px;
  font-style: italic;
  font-size: smaller;
}

.help__sign-in,
.help__sign-up {
  margin-left: 1.5px;
  color: #e0764e;
  text-decoration: none;
}

.form__label {
  margin-top: 5px;

  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 7.5px;
  letter-spacing: 0.5px;
}

.form__input {
  width: 100%;
  margin: 3px 0 5px;
  background-color: #ececf5;
  border-radius: 100px;
  padding: 10px;
  font-size: small;
}

.form__submit {
  margin-top: 15px;
  width: 100%;
  border: #e0764e solid 1px;
  border-radius: 100px;
  color: #e0764e;
  text-transform: uppercase;
  padding: 7.5px;
  font-weight: 600;
  font-size: small;
  cursor: pointer;
}

.box__login {
  display: none;
}

@media screen and (min-width: 768px) {
  .box__registration,
  .box__login {
    width: 80%;
  }
}
