.jokes__navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 5vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(250, 196, 33);
}

.jokes__confirmation-popup {
  position: absolute;
  width: calc(100vw - 60vw);
  height: calc(100vh - 60vh);
  top: 30vh;
  left: 30vw;
  background-color: grey;
  padding: 10px;
  border: 1px solid black;
  display: none;
}

.confirmation-popup__question {
  text-align: center;
}

.confirmation-popup__answers {
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}

.answers__yes,
.answers__no {
  cursor: pointer;
}

.navigation__logout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  width: 100px;
  background-color: rgb(250, 196, 33);
  color: #808080;
  text-decoration: none;
  font-size: small;
  font-weight: 700;
}

.navigation__logout:hover {
  color: black;
  background-color: #fed149;
}

.card__image {
  display: none;
}

.card__box {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: scroll;
}

.box__application {
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.application__title,
.rang-list__title {
  font-size: x-large;
  margin-bottom: 10px;
}

.application__fetch {
  border: #0f0f0f dashed 1px;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fetch__add-new {
  height: 50px;
  width: 150px;
  border-radius: 100px;
  background-color: #808080;
  color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fetch__joke {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 250px;
  height: 250px;
  width: 100%;
  justify-content: space-between;
}

.joke__cancel {
  position: absolute;
  top: 0;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ff7d7d;
  width: 15px;
  height: 15px;
  border: 1px solid #ff0000;
  border-radius: 50%;
  font-size: 10px;
  cursor: pointer;
}

.joke__cancel:hover {
  background-color: #ff0000;
}

.joke__title {
  text-transform: uppercase;
  font-size: small;
  font-weight: 800;
}

.joke__content {
  font-style: italic;
  font-size: large;
  text-align: center;
  padding: 10px;
}

.joke__content::before {
  content: open-quote;
}

.joke__content::after {
  content: close-quote;
}

.joke__rater {
  border: #808080 solid 1px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  overflow: hidden;
}

.joke__rating {
  font-weight: 700;
}

.rater__save {
  color: #008000;
  padding: 20px;
  align-self: center;
  cursor: pointer;
}

.rater__save:hover {
  background-color: #008000;
  color: #fff;
}

.rater__skip {
  color: #f00;
  padding: 20px;
  align-self: center;
  cursor: pointer;
}

.rater__skip:hover {
  background-color: #f00;
  color: #fff;
}

.rater__rating {
  width: 100px;
  text-align: center;
}

.box__rang-list {
  flex-grow: 1;
  text-align: center;
}

.jokes__joke {
  font-size: 15px;
  margin: 10px;
  text-align: start;
}

.fetch--hidden {
  display: none;
}

.joke__id {
  display: none;
}

.joke__delete {
  border: 1px solid red;
  border-radius: 10%;
  background-color: white;
  color: red;
  cursor: pointer;
}

.joke__delete:hover {
  color: white;
  background-color: red;
}

@media screen and (min-width: 1440px) {
  .jokes__card {
    align-self: center;
    max-width: 1120px;
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .card__image {
    display: inline-block;
    width: 40%;
    height: 100%;
  }

  .card__box {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .box__application {
    margin-top: 50px;
  }

  .box__rang-list {
    margin-top: 50px;
  }
}
